---
interface Props {
  amount: number;
  uniqueid: string;
  startHue?: number;
}
const { amount, uniqueid } = Astro.props;
const startHue = Astro.props.startHue || 0;

const getTestId = (index: number): string => {
  if (index === 0) return `${uniqueid}_tile--first`;
  if (index === amount - 1) return `${uniqueid}_tile--last`;
  return `${uniqueid}_tile--${index+1}`;
};

const getLabel = (index: number): string => {
  if (index === 0) return 'first';
  if (index === amount -1) return 'last';
  return String(index + 1);
}
---

<ul>
  {
    [...Array(amount)].map((data, index) => (
      <li
        class="tile"
        style={{ "--hue": (startHue + index * 10) % 360 }}
        data-testid={getTestId(index)}
      >
        {getLabel(index)}
      </li>
    ))
  }
</ul>

<style>
  .tile {
    aspect-ratio: 20 / 3;
    background: red;
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
    display: grid;
    place-content: center;
    background: hsl(var(--hue), 100%, 80%);
  }
</style>
